.storybook
*.iml
*.log
.idea
.ipr
.iws
*~
.doc
.docz
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn
*.swp
*.swo
*.pyc
*.pyo
node_modules
.cache
*.css
build
lib
coverage
src/**/*.js
tests/*.js
examples/*.js
**/*.jsx
*.map
dist
es
